body,html,.swiper-container,.main{width: 100%;height: 100%;overflow: hidden}
html{font-size: 100px}









/*第一屏*/
.page1{background: url("../imgabc/page1/01.png")no-repeat;background-size: 100% 100%;}
.page1 div{margin: 0 auto}

.page1 .text1{opacity:0;position:absolute;
    left:1.345rem;top:1rem;background: url("../imgabc/page1/01_03.png")no-repeat;width: 3.94rem;height: 3.89rem;background-size: cover}
.page1 .text2{position:absolute;left:1.5rem;top:5.5rem;background: url("../imgabc/page1/01_07.png")no-repeat;width: 3.65rem;height: 5rem;background-size: cover;}



/*第一屏动画*/
#page1 .text1{-webkit-animation: bounceInDown 1s ease 1s both;animation: bounceInDown 1s ease .2s both;}
#page1 .text2{-webkit-animation: flipInX 1s ease 2s both;animation: flipInX 1s ease .6s both;}




/*第二屏*/
.page2{background: url("../imgabc/page2/02.png")no-repeat;background-size: 100% 100%;}

.page2 .text1{opacity:0;position:absolute;left:0;top:0;background: url("../imgabc/page2/02_01.png")no-repeat;width: 6.40rem;height: 6.35rem;background-size: cover;}
.page2 .text2{opacity:0;position:absolute;left:1.2rem;top:6.8rem;background: url("../imgabc/page2/02_04.png")no-repeat;width: 4.16rem;height:3.51rem;background-size: cover;}



/*第二屏动画*/

#page2 .text1{-webkit-animation: fadeInRight 1s ease 1s both;animation: fadeInRight 1s ease 1s both;}
#page2 .text2{-webkit-animation: fadeInRight 1s ease 1s both;animation: fadeInRight 1s ease 1.2s both;}

/*第三屏*/
.page3{background: url("../imgabc/page3/02.png")no-repeat;background-size: 100% 100%;}

.page3 .text1{opacity:0;position:absolute;left:0;top:0;background: url("../imgabc/page3/03_01.png")no-repeat;width: 6.40rem;height:4.8rem;background-size: cover;}
.page3 .text2{opacity:0;position:absolute;left:.05rem;top:4.8rem;background: url("../imgabc/page3/03_02.png")no-repeat;width: 6.4rem;height:5.35rem;background-size: cover;}



/*第三屏动画*/

#page3 .text1{-webkit-animation: fadeInRight 1s ease 1s both;animation: fadeInRight 1s ease 1s both;}
#page3 .text2{-webkit-animation: fadeInRight 1s ease 1s both;animation: fadeInRight 1s ease 1.2s both;}


/*第四屏*/
.page4{background: url("../imgabc/page4/02.png")no-repeat;background-size: 100% 100%;}

.page4 .text1{opacity:0;position:absolute;left:0;top:0;background: url("../imgabc/page4/04_01.png")no-repeat;width: 6.40rem;height:7.49rem;background-size: cover;}
.page4 .text2{opacity:0;position:absolute;left:2rem;top:7.8rem;background: url("../imgabc/page4/04_04.png")no-repeat;width: 2.44rem;height:2.52rem;background-size: cover;}



/*第四屏动画*/

#page4 .text1{-webkit-animation: fadeInRight 1s ease 1s both;animation: fadeInRight 1s ease 1s both;}
#page4 .text2{-webkit-animation: fadeInRight 1s ease 1s both;animation: fadeInRight 1s ease 1.2s both;}
